/* Admin menu icons */

#toplevel_page_conferencer .wp-menu-image img { display: none; }

#toplevel_page_conferencer .wp-menu-image,
#menu-posts-session .wp-menu-image,
#menu-posts-speaker .wp-menu-image,
#menu-posts-room .wp-menu-image,
#menu-posts-time_slot .wp-menu-image,
#menu-posts-track .wp-menu-image,
#menu-posts-sponsor .wp-menu-image,
#menu-posts-sponsor_level .wp-menu-image,
#menu-posts-company .wp-menu-image {
	background: url(images/admin-icons.png) no-repeat left top !important;
}

#toplevel_page_conferencer .wp-menu-image { background-position: 0px -18px !important; }
#toplevel_page_conferencer:hover .wp-menu-image,
#toplevel_page_conferencer.wp-has-current-submenu .wp-menu-image { background-position: 0px 6px !important; }

#menu-posts-session .wp-menu-image { background-position: -28px -18px !important; }
#menu-posts-session:hover .wp-menu-image,
#menu-posts-session.wp-has-current-submenu .wp-menu-image { background-position: -28px 6px !important; }

#menu-posts-speaker .wp-menu-image { background-position: -56px -18px !important; }
#menu-posts-speaker:hover .wp-menu-image,
#menu-posts-speaker.wp-has-current-submenu .wp-menu-image {	background-position: -56px 6px !important; }

#menu-posts-room .wp-menu-image { background-position: -84px -18px !important; }
#menu-posts-room:hover .wp-menu-image,
#menu-posts-room.wp-has-current-submenu .wp-menu-image {	background-position: -84px 6px !important; }

#menu-posts-time_slot .wp-menu-image { background-position: -112px -18px !important; }
#menu-posts-time_slot:hover .wp-menu-image,
#menu-posts-time_slot.wp-has-current-submenu .wp-menu-image {	background-position: -112px 6px !important; }

#menu-posts-track .wp-menu-image { background-position: -140px -18px !important; }
#menu-posts-track:hover .wp-menu-image,
#menu-posts-track.wp-has-current-submenu .wp-menu-image {	background-position: -140px 6px !important; }

#menu-posts-sponsor .wp-menu-image { background-position: -168px -18px !important; }
#menu-posts-sponsor:hover .wp-menu-image,
#menu-posts-sponsor.wp-has-current-submenu .wp-menu-image {	background-position: -168px 6px !important; }

#menu-posts-sponsor_level .wp-menu-image { background-position: -196px -18px !important; }
#menu-posts-sponsor_level:hover .wp-menu-image,
#menu-posts-sponsor_level.wp-has-current-submenu .wp-menu-image {	background-position: -196px 6px !important; }

#menu-posts-company .wp-menu-image { background-position: -224px -18px !important; }
#menu-posts-company:hover .wp-menu-image,
#menu-posts-company.wp-has-current-submenu .wp-menu-image {	background-position: -224px 6px !important; }

/* Post edit page options */

fieldset#conference_options table { width: 98%; }

fieldset#conference_options td.label { white-space: nowrap; }

fieldset#conference_options td.input { width: 100%; }
fieldset#conference_options input.text { width: 100%; }
fieldset#conference_options input.int { width: 40px; }
fieldset#conference_options input.date { width: 50%; }
fieldset#conference_options input.time { width: 45%; }
fieldset#conference_options input.money { width: 70px; }

/* Reordering */

#conferencer_reordering .post_type {
	margin-bottom: 20px;
}

#conferencer_reordering .items {
	width: 300px;
}

#conferencer_reordering .items li {
	padding: 5px 8px 5px 5px;
}

#conferencer_reordering .items li:hover {
	cursor: move;
}

#conferencer_reordering .ui-icon {
	float: left;
	margin-right: 5px;
}

/* Logo Regeneration */

#conferencer_logo_regeneration_needed.closed {
	display: none;
}

#conferencer_regenerate_logos_progress {
	height: 22px;
}

#conferencer_regenerate_logos_progress.animated .ui-progressbar-value {
	background-image: url(images/pbar-ani.gif);
}

#conferencer_regenerate_logos_console {
	margin: 10px 0;
}